# --- Ambiente Virtual ---
venv/
.venv/

# --- Cache do Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pdb

# --- Cache do pytest ---
.pytest_cache/
.cache/

# --- Arquivos de Logs ---
logs/
*.log
results.csv
*.png
requests.csv

# --- Arquivos de IDE ---
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# --- Arquivos do sistema ---
*.swp
*~
.DS_Store

# --- Arquivos temporários ---
*.tmp
*.bak
*.orig

# Arquivos de métricas gerados pelo servidor
/metrics/

# Arquivos de resultados gerados pelos benchmarks
/results/

# Arquivos de captura de rede (para o Wireshark)
*.pcap
*.pcapng